<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calculo IMC </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IMC</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="campos">
    <div>
      <ion-input
        type="number"
        [(ngModel)]="peso"
        label="Peso"
        label-placement="floating"
        fill="outline"
        placeholder="Enter"
      ></ion-input>
    </div>
    <div>
      <ion-input
        type="number"
        [(ngModel)]="altura"
        label="Altura"
        label-placement="floating"
        fill="outline"
        placeholder="Enter"
      ></ion-input>
    </div>

    <ion-button size="default" shape="round" (click)="calcularImc()"
      >Calcular</ion-button
    >
    <ion-button size="default" shape="round">Limpar</ion-button>

    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title>Seu IMC é:</ion-card-title>
      </ion-card-header>

      <ion-card-content> {{imcTotal}} </ion-card-content>
    </ion-card>
  </div>
</ion-content>
